<p>
  <script type="text/javascript" src="js/character.js"/>
  <link rel="stylesheet" type="text/css" href="css/character.css" media="screen"/>
  <form id="form_char">
    
    Name:<br/>
    <input type="text" name="name"/>
    <br/>
  
    Race:<br/>
    <select name="race">
      <option value="elf">Elf</option>
      <option value="dwarf">Dwarf</option>
      <option value="hobbit">Hobbit</option>
      <option value="human">Human</option>
    </select>
  
    <br/>
    <br/>
    <table>
      <!-- Main Stat -->
      <!-- Title -->
      <tr>
	<th>Weapon Skill</th>
	<th>Ballistic Skill</th>
	<th>Strength</th>
	<th>Toughness</th>
	<th>Agility</th>
	<th>Intelligence</th>
	<th>Will Power</th>
	<th>Fellowship</th>
      </tr>
      <!-- Value -->
      <tr>
	<td>
	  <input type="number" name="weapon_skill"/>
	</td>
	<td>
	  <input type="number" name="ballistic_skill"/>
	</td>
	<td>
	  <input type="number" name="strength"/>
	</td>
	<td>
	  <input type="number" name="toughness"/>
	</td>
	<td>
	  <input type="number" name="agility"/>
	</td>
	<td>
	  <input type="number" name="intelligence"/>
	</td>
	<td>
	  <input type="number" name="will_power"/>
	</td>
	<td>
	  <input type="number" name="fellowship"/>
	</td>
      </tr>
      <!-- Secondary Stat -->
      <!-- Title -->
      <tr>
	<th>Attacks</th>
	<th>Wounds</th>
	<th>Strength Bonus</th>
	<th>Toughness Bonus</th>
	<th>Movement</th>
	<th>Magic</th>
	<th>Insanity Point</th>
	<th>Fate Point</th>
      </tr>
      <!-- Value -->
      <tr>
	<td>
	  <input type="number" name="attacks"/>
	</td>
	<td>
	  <input type="number" name="wounds"/>
	</td>
	<td>
	  <input type="number" name="strength_bonus"/>
	</td>
	<td>
	  <input type="number" name="toughness_bonus"/>
	</td>
	<td>
	  <input type="number" name="movement"/>
	</td>
	<td>
	  <input type="number" name="magic"/>
	</td>
	<td>
	  <input type="number" name="insanity_point"/>
	</td>
	<td>
	  <input type="number" name="fate_point"/>
	</td>
      </tr>
    </table>
    <br/>

    <table>
      <tr>
	<th>Total XP</th>
	<th>XP Available</th>
      </tr>
      <tr>
	<td>
	  <input type="number" name="total_xp"/>
	</td>
	<td>
	  <input type="number" name="free_xp"/>
	</td>
      </tr>
    </table>

  </form>

</p>
